<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="ConnectionString" value="User Id=postgres;Password=nano;Server=127.0.0.1;Port=5432;Database=ground" />
  </appSettings>
</configuration>